/* Icons ================================================================================= */
  #{$iconClass}{
    &::before,
    &::after{
      display: block;
      font-family: $iconsFont;
      @extend %transition-normal-speed;
    }
    &.play{
      &::before{
        content: '\E800';
      }
    }
    &.volume{
      &::before{
        content: '\E801';
      }
    }
  }
/* ======================================================================================= */