/* Icons ================================================================================= */
  #{$iconClass}{
    &::before,
    &::after{
      display: block;
      font-family: $iconsFont;
      @extend %transition-normal-speed;
    }
    &.play{
      &::before{
        content: '\E800';
      }
      &::after{
        content: '\E801';
      }
    }
    &.volume{
      &::before{
        content: '\E802';
      }
    }
    &.fullscreen{
     &::before{
        content: '\E803';
      }
    }
    &::after{
      content: '\E804';
    }
  }
/* ======================================================================================= */