 /* Colors ================================================================================ */
	$primaryDarkColor:   #111111;
	$secondaryDarkColor: #080808;
	$errorColor:         #CF262D;
	$primaryTextColor:   #FFF;
	$secondaryTextColor: #4c4c4c;
	$dividerColor:       #292929;
/* Fonts ================================================================================= */
	$headingsFont: 'KellySlab-Regular', sans-serif;
	$primaryFont: 'KelsonSans', sans;
	$iconsFont: 'Fontello';
	$iconClass: '.icn';
/* Buttons =============================================================================== */
	$buttonClass: '.btn';
/* Variables Widths ====================================================================== */
	$mainWidth: 960px;
	$maxWidth: 1920px;
	$minWidth: 320px;
/* Transition Speed ====================================================================== */
	$fastSpeed: .2s;
	$normalSpeed: .3s;
	$slowSpeed: .5s;
/* Indents =============================================================================== */
	$mainIndent: 20px;
/* Pleer Controls ======================================================================== */
	$timeLineHeight: 4px;
	$controlsIconWidth: 50px;
	$controlsIconHeight: $controlsIconWidth;
	$controlsHeight: $controlsIconWidth + $timeLineHeight;
/* Ajax Loader =========================================================================== */
	$ajaxLoader: url(../img/preloader.gif);
/* ======================================================================================= */