/* Common ================================================================================ */
  body,
  html{
    height: 100%;
  }
  body{
    background: $primaryDarkColor;
    color: $primaryTextColor;
    text-align: center;
    font-size: 0;
    font-family: $primaryFont;
    &::before{
      content: '';
      width: 0;
      height: 100%;
      @extend %inline-block-middle;
    }
  }
  img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    height: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5{
    font-family: $headingsFont;
    font-weight: 400;
    text-transform: uppercase;
    color: $primaryTextColor;
  }
/* Common Player ========================================================================= */
  .player{
    position: relative;
    width: 90%;
    height: 90%;
    min-width: $minWidth;
    min-height: $minWidth;
    margin: 0 auto;
    padding: 0 0 $controlsHeight;
    font-size: 0;
    overflow: hidden;
    @extend %transition-normal-speed;
    @include box-shadow(0 0 0 1px #000);
    &.loading{
      .media{
        &::before{
          @extend %visible;
        }
      }
    }
  }
  .fullscreen{
    .player{
      width: 100%;
      height: 100%;
    }
  }
/* Player Media Block ==================================================================== */
  .media{
    position: relative;
    height: 100%;
    white-space: nowrap;
    &.error{
      &::before{
        opacity: .05;
        background: #FFF url(../img/noise.gif) repeat top right;
        @extend %visible;
      }
      img{
        @extend %hidden;
      }
    }
    &::before{
      content: '';
      background: #FFF #{$ajaxLoader} no-repeat center center;
      @extend %overlay;
      @extend %hidden;
      @extend %transition-normal-speed;
    }
  }
/* Player Controls ======================================================================= */
  .controls{
    position: absolute;
    height: $controlsHeight;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: $primaryDarkColor;
    @include translate(0,0);
    @extend %transition-normal-speed;
    &-main{
      width: 100%;
      padding: 0 $controlsIconWidth + $mainIndent;
      margin: 0 (-$controlsIconWidth);
      > .itm{
        width: 50%;
      }
    }
    #{$iconClass}{
      position: relative;
      width: $controlsIconWidth;
      height: $controlsIconHeight;
      cursor: pointer;
      text-align: center;
      color: #FFF;
      z-index: 1;
      border: 1px solid transparent;
      white-space: nowrap;
      &::before,
      &::after{
        width: 100%;
        @extend %inline-block-middle;
        @extend %transition-normal-speed;
      }
      &::before{
        font-size: $mainIndent;
        line-height: $controlsIconHeight;
      }
      &::after{
        margin: 0 0 0 -100%;
        font-size: 20px;
        @extend %hidden;
        @include scale(0);
      }
    }
    .play{
      border-right-color: $dividerColor;
    }
    .fullscreen{
      border-left-color: $dividerColor;
    }
  }
  #{$iconClass}{
    &.active{
      &::before{
        @extend %hidden;
        @include scale(2);
      }
      &::after{
        @include scale(1);
        @extend %visible;
      }
    }
  }
  #{$buttonClass}{
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    @extend %resetAppearence;
    @include border-radius(0);
  }
  .block-timer{
    font-size: 10px;
    text-align: left;
  }
  .block-volume{
    text-align: right;
    .progress{
      width: 150px;
    }
    #{$iconClass}{
      cursor: default;
    }
  }
  .total-time{
    color: $secondaryTextColor;
  }
  .progress{
    height: $timeLineHeight;
    width: 100%;
    background: $errorColor;
    cursor: pointer;
  }
/* Messages ============================================================================== */
  .show-messages{
    .message{
      @extend %visible;
    }
  }
  .message{
    position: relative;
    width: 100%;
    margin: 0 0 0 -100%;
    padding: $mainIndent;
    font: 700 20px/1.5 $headingsFont;
    letter-spacing: 1px;
    color: $primaryTextColor;
    text-transform: uppercase;
    white-space: normal;
    @extend %hidden;
    @extend %transition-normal-speed;
    &.active{
      @extend %visible;
    }
  }
/* Helper Classes ======================================================================== */
  .itm{
    @extend %inline-block-middle;
  }
/* Media Queries ========================================================================= */
  @media screen and (max-width: 600px){
    .controls{
      &-main{
        padding: 0 $controlsIconWidth + $mainIndent/2;
      }
    }
    .block-volume{
      #{$iconClass}{
        width: $mainIndent;
        margin: 0 $mainIndent/2 0 0;
      }
      .progress{
        width: 70px;
      }
    }
    .message{
      font-size: 14px;
    }
  }
/* ======================================================================================= */